*{
  font-family: "Proxima Nova Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#container{
  background-color:#171544;
}
#container > h2{
  text-align: center;
  color: #aed8ea;
}
#search-bar {
  height: 70px;
  width: 98.9%;
  background-color: #171544;
  display: flex;
  position: fixed;
  margin-top: -1%;
}
#search-input{
    border: none;
    height: 32px;
    width: 90%;
    border-radius: 5px;
    border-right: 0rem;
    outline: none;
    background-color: #454469;
}
#search-input::placeholder {
  color: lightgray;
  margin-left: 27%;
  margin-top: 1%;
}
#btn-search{
    height: 38px;
    width: 24%;
}
#input-div {
    display: flex;
    width: 40%;
    /* border: 1px solid red; */
    border-radius: 5px;
    height: 56%;
    margin-top: 0.9%;
    background-color: #454469;
}
.fa-search{
    color: white;
    margin-top: 1.8%;
    margin-left: 2.5%;
}
#right-en{
    width: 22.6%;
    margin-left: 5%;
    display: flex;
    gap: 7%;
}
#btn-1{
  height: 36px;
  width: 29%;
  color: white;
  background-color: #6432f9;
  border: none;
  border-radius: 3px;
  margin-top: 3%;
}
#btn-2{
  height: 36px;
  width: 20%;
  background: #171544;
  color: white;
  margin-top: 3%;
  border: none;
}
#btn-3{
  height: 36px;
  width: 23%;
  color: white;
  background-color: #1bb76e;
  margin-top: 3%;
  border-radius: 3px;
  border: none;
}
.tags-div{
  height: 250px;
  width: 85%;
  margin: auto;
}
#tag-h{
  display: flex;
  width: 98%;
  justify-content: space-between;
}
#tag-h > h4{
  color: #acabbc;
}
.cards{
  height: 150px;
  display: flex;
  gap: 1%;
}
.cards_1{
  width: 9%;
  border-radius: 4px;
  height: 89%;
}
#card1{
  width: 18%;
}
.card-bottom{
  height: 42%;
}
#last-divC{
  height: 50px;
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.drop-down{
  height: 130px;
  width: 12%;
  background-color: #53565d;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  visibility: hidden;
  position: relative;
}
.drop-down > h5{
  color: #acabbc;
  margin-left: 11%;
  cursor: pointer;
}
#drop-downC{
  width: 88%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
#footerC{
  background-color: #2e3035;
}
#data_div{
  min-height: 280px;
  width: 19%;
  margin: auto;
  margin-bottom: 1%;
  background-color: #474a51;
  border-radius: 7px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#data_divC{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 85%;
  margin: auto;
  margin-top: -5%;
}
#divAct{
  display: flex;
  width: 88%;
  margin: auto;
  justify-content: space-between;
}
i{
  color: #8d929b;
  cursor: pointer;
}
i:hover{
  color: #1bb76e;
}
#search-res{
  width: 40.5%;
  margin-left: 31%;
  max-height: 380px;
  background-color: #3c424b;
  border-radius: 6px;
  display: none;
  overflow: scroll;
}
#resChild-div{
  width: 92%;
  min-height: 42px;
  margin: auto;
  margin-top: 1%;
}
#resChild-div:hover{
  background-color: rgb(117, 115, 115);
}
#resChild-div > h4{
  margin-left: 2%;
  color: white;
}